/* ----------------------------------------------- */
/* SETUP
/* -----------------------------------------------*/
*::before, *::after, * {
    box-sizing: border-box;
}

body {
    background: #121212;
    color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

/* ----------------------------------------------- */
/* DEFAULT FORM STYLES
/* -----------------------------------------------*/
label{
    display: inline-block;
    width: 100%;
    font-family: 'roboto', 'sans-serif';
    font-size: 0.8em;
    color: grey;
    opacity: 0.75;
    margin-bottom: 2px;
    transition: all .2s ease-in-out;
}

input, textarea, form{
    box-sizing : border-box;
    font-family: 'roboto', 'sans-serif';
}

input, textarea{
    width: 100%;
    border:none;
    color: white;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.fieldset{
    margin-top: 17px;
    border: 1px solid #222;
    padding: 3px 5px;
    border-radius: 2px;
    transition: all .2s ease-in-out;

}

.fieldset.focused{
    border: 1px solid #0090ff;
}

.fieldset.focused label{
    color: #0090ff;
    transition: all .2s ease-in-out;
}

.form_container{
    width: 100%;
    max-width: 500px;
    padding: 1.5em;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    margin: auto;
    background: #141414;

}

.form_container h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-align: center;
    color: grey;
    text-transform: uppercase;
}

/* ----------------------------------------------- */
/* PASSWORD
/* -----------------------------------------------*/

#Lpassword{
    display: flex;
    justify-content: space-between;
}

#Lpassword svg{
    height: 17px;
    fill: grey;
    cursor: pointer;
}

#Lpassword #hide-2{
    display: none;
}

.strength-meter {
    margin: auto;
    border-radius: 2px;
    height: 0.5rem;
    width: 100%;
    border: 1px solid #333;
    position: relative;
    overflow: hidden;
}

#strength-bar {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 110%;
    width: 0%;
    background-color: #ff0033;
    transition: width .2s ease-in-out;
}

.pseudo-label {
    font-size: 0.7em;
    margin: 5px auto;
    margin-top: 15px;
    display: block;
    color: grey;
}

.password-input {
    border-radius: 5px;
    width: 90%;
    padding: .25rem .75rem;
    background: #222;
    border: 1px solid #111;
    outline: none;
    color: white;
    margin-top: 30px;
}

.password:focus {
    border-color: #ff0033;
}

.reasons > * {
    margin-top: 30px;
    color: #333;
}


ul.reasons {
    list-style-type: none;
    padding-left: 0;
}

ul.reasons li {
    margin: 0;
    font-size: 0.8em;
    display: flex;
    line-height: 21px;
    color: grey;
    max-width: 500px;
}

ul.reasons li .svg-cont {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 4px; 
}

ul.reasons li svg {
    fill: #ff0033; 
    width: 7px;
}

